@font-face
{
	font-family: PrintBold;
	src: url("PrintBold.otf");
}

*
{
	margin: 0;
	padding : 0;
}

.Body
{
	display: block;
	width: 100%
	height: 100%;
	text-align: center;
}

form
{
	padding-top: 50px;
	background: #57B5E2;
}

#Logo
{
	margin-top:25px;
}

input
{
	border: 3px solid rgba(255, 255, 255, 0.8);
	border-radius: 100px;
	height: 50px;
	width: 400px;
	text-align: center;
	font-family: PrintBold;
	font-size: 30px;
}

#Username
{
	color: white;
}

.text, .button
{
	color: white;
}

#user
{
	background: #B9EAFF;	
}

#pass
{
	background: #FFBFE0;
}

#button
{
	background: #F59FBB;
}

#Password
{
	padding-top: 25px;
}

#Submit
{
	padding-top: 80px;
	padding-bottom: 150px;
}