@font-face
{
    font-family: PrintClearly;
    src: url("PrintClearly.otf");
}

@font-face
{
    font-family: PrintBold;
    src: url("PrintBold.otf");
}

*
{
    margin: 0;
    padding: 0;
}

/* For the title bar*/

#BarList li
{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 25px;
}

#BarList li a
{
    text-decoration: none;
    text-decoration-color: none;
    padding: 15px 10px;
    color: white;
}

#BarList a:visited
{
    color: white;
}

#BarList li a:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

.Bar
{
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("Barground.png");
    background-size: 200px;
    font-family: PrintBold, sans-serif;
    color: white;
    font-size: 30px;
}

/* */

#container{
    width: 100%;
    height: 50%
    margin-left: auto;
    margin-right: auto;
}

#header{
    padding: 4px;
    text-align: right;
    background-color: #66CCFF;
    color:white;
    font-family: PrintBold;
    font-size: 25px;
}

#content{
    background-color: white;
    padding: 24px;
    padding-bottom: 25%;
    font-family: PrintBold;
    font-size: 25px;
}

#left{
    line-height: 200%;
    float: left;
    width: 50%;
}

#leftInput{
    float: left;
}

#leftInput input, #Description TEXTAREA
{
    font-family: PrintClearly;
    font-size: 25px;
    text-align: center;
}

#buttons{
    float: center;
    width 25%
}
#rightforms{
    float: left;
    width: 50%;
}
#rightSubmit{
    float:right;
    width: 50%;
}

#right{
    line-height: 200%;
    float: right;
    width: 50%;
}

h5{
    text-align: right;
}

#productPicture h1
{
    padding-right: 100px;
    padding-bottom: 200px;
    border: 1px solid #AAAAAA;
    float: right;
}

#rightSubmit input
{
    float: right;
    font-family: PrintClearly;
    font-size: 20px;
}

table
{
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #AAAAAA;
}

th
{
    text-align: left;
    background-color: #66CCFF;
    color: white;
}

th, td
{
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

tfoot
{
    background-color: #FFBFE0;
    color: white;
}

#Table
{
    margin-top: 40px;
    word-spacing: 8px ;
    text-align: center;
}

tr, th
{
    text-align: center;
    table-layout: center;
}

th
{
    font-family: PrintBold;
    font-size: 25px;
}

tr
{
    font-family: PrintClearly;
    font-size: 25px;
}

table
{
    margin: auto;
}
